h1 {
    color: #ff2a7d;           
    font-size: 32px;       
    text-align: center;    
    font-family: Arial, sans-serif; 
  }
 #changeTextButton {
    background-color: #4CAF50; 
    color: white; 
    border: none; 
    padding: 10px 20px; 
    text-align: center; 
    font-size: 16px; 
    cursor: pointer; 
    border-radius: 5px; 
    margin-top: 20px; 
  }
  
  #changeTextButton:hover {
    background-color: #45a049; 
  }
  body {
    background-color: #A7CC4D;
  }  
  .container {
    text-align: center; 
    margin-top: 30px; 
  }
.area {
    text-align: center;
    font-size: 18px;
   }
   .mt40{
    margin-top: 40px;
   }
   .textbox {
    padding: 10px 10px;
    font-size: 18px;
   }
